/cmake-build-debug/
/hello.txt
/.idea/
/linters/
/project/input_data.gcda
/project/prog.gcda
/project/input_data.gcno
/project/prog.gcno
/project/program
/project/main.gcda
/project/main.gcno
/project/example-html.html
/project/hello.txt
/index.html
/project/parallel_prog.gcno
/hw_2.info
/coverage.txt
/example-html.html
